<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087411400971-8e35q83ch174mi6ua0ftha7lsl7928ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087411400971-8e35q83ch174mi6ua0ftha7lsl7928ea</string>
	<key>API_KEY</key>
	<string>AIzaSyBYbw58ynbcIUTcF3PfN_ofZ0ZpgaZMtwc</string>
	<key>GCM_SENDER_ID</key>
	<string>1087411400971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urbanHive.cooler</string>
	<key>PROJECT_ID</key>
	<string>coworkpay</string>
	<key>STORAGE_BUCKET</key>
	<string>coworkpay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087411400971:ios:96137f4796f2633ee1b20e</string>
</dict>
</plist>